<!--Excel Option-->
<div class="pull-right m-r-xs">
    <div class="btn-group dropdown">
        <button class="btn btn-sm btn-default btn-sm" data-toggle="dropdown">
            <i class="fa fa-file-excel-o p-r-xs"></i>
            Excel<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="min-width: auto">
            <li>
                <a href="" download target="_blank" ng-href="{{vm.sampleUrl}}">
                    <i class="glyphicon glyphicon-cloud-download p-r-sm"></i> Sample
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <input ng-hide="true" class="file-reader" file-upload
                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                       url="vm.importUrl"
                       is-processing="vm.isProcessing"
                       callback="vm.afterUploadCallback(err,result)" type="file" name="file">
                <a ng-click="vm.importExcel()">
                    <i class="fa fa-upload p-r-sm"></i>
                    Import
                </a>
            </li>
            <li>
                <a ng-click="vm.downloadExcelFn()">
                    <i class="fa fa-download p-r-sm"></i>
                    Export
                </a>
            </li>
        </ul>
    </div>
</div>
