<div id="app"
     class="app ng-scope app-aside-fixed">
    <div class="row m-n wrapper-lg animated fade-in">
    </div>
    <div class="container w-xxl w-auto-xs loginBoxCss">
        <a class="navbar-brand block m-t appNameCss">
            <!--<img style="max-height: 30px !important;" src="/img/mobile-logo.png">-->
            {{app.name}}
        </a>
        <div class="m-b">
            <div class="wrapper text-center">
            </div>
            <form name="resetPasswordForm" ng-submit="vm.resetPassword()">
                <div class="list-group list-group-sm">
                    <input type="hidden"
                           name="view"
                           class="form-control no-border"
                           value="true">
                    <div class="list-group-item">
                        <input type="password"
                               name="password"
                               ng-model="vm.user.newPassword"
                               placeholder="Enter New Password"
                               class="form-control no-border"
                               required>
                    </div>
                </div>
                <div class="list-group list-group-sm">
                    <input type="hidden"
                           name="view"
                           class="form-control no-border"
                           value="true">
                    <div class="list-group-item">
                        <input type="password"
                               name="confirmPassword"
                               ng-model="vm.user.confirmPassword"
                               placeholder="Enter Confirm Password"
                               class="form-control no-border"
                               required="true">
                    </div>
                </div>
                <span class="error"
                      ng-show="vm.user.newPassword.length<6"
                      style="color:RED">
                            * Minimum Password Length is 6
                        </span>
                <span class="error"
                      ng-show="vm.user.newPassword.length>=6
                      && vm.user.confirmPassword.length
                      && vm.user.newPassword!==vm.user.confirmPassword"
                      style="color:RED">
                            * New Password and Confirm Password do not match.
                        </span>
                <button type="submit"
                        ng-disabled="!vm.user.newPassword
                        || !vm.user.confirmPassword
                        || vm.user.newPassword.length<6
                        || vm.user.newPassword!==vm.user.confirmPassword"
                        class="btn btn-lg btn-login btn-block">
                    Reset Password
                </button>
            </form>
        </div>
        <div class="clearfix">
        </div>
    </div>

</div>
