<div id="app"
     class="app ng-scope app-aside-fixed">
    <div class="row m-n wrapper-lg animated fade-in">
    </div>
    <div class="container w-xxl w-auto-xs loginBoxCss">
        <a class="navbar-brand block m-t appNameCss">
            <!--<img style="max-height: 30px !important;" src="/img/mobile-logo.png">-->
            {{app.name}}
        </a>
        <div class="m-b">
            <div class="wrapper text-center">
            </div>
            <form name="form"
                  class="form-validation">
                <div class="list-group list-group-sm" ng-show="!vm.isOTPSent">
                    <input type="hidden"
                           name="view"
                           class="form-control no-border"
                           value="true">
                   <!-- <div class="form-group row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <input type="radio"
                                   name="type"
                                   value="mobile"
                                   ng-model="vm.type" checked> Mobile
                            <input type="radio"
                                   style="margin-left:10px;"
                                   name="type"
                                   value="email"
                                   ng-model="vm.type"> Email
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>-->
                    <div class="list-group-item">
                        <input type="text"
                               name="email"
                               ng-if="vm.type === 'email'"
                               ng-model="vm.user.email"
                               placeholder="Enter email"
                               class="form-control no-border"
                               required="true">
                        <!--<input type="text"-->
                               <!--name="email"-->
                               <!--ng-if="vm.type === 'mobile'"-->
                               <!--ng-model="vm.user.mobile"-->
                               <!--placeholder="Enter Mobile"-->
                               <!--class="form-control no-border"-->
                               <!--required="true">-->
                    </div>
                </div>
                <div class="list-group list-group-sm" ng-show="vm.isOTPSent && !vm.isOTPVerified">
                    <input type="hidden"
                           name="view"
                           class="form-control no-border"
                           value="true">
                    <div class="list-group-item">
                        <input type="text"
                               name="email"
                               ng-pattern="regex.EMAIL"
                               ng-model="vm.user.verificationCode"
                               placeholder="Enter OTP You Received "
                               class="form-control no-border"
                               required="true">
                    </div>
                </div>
                <button type="submit"
                        ng-if="vm.type === 'email'"
                        ng-disabled="!vm.user.email "
                        ng-click="vm.forgotPassword()"
                        class="btn btn-lg btn-login btn-block">
                    Submit
                </button>
                <button type="submit"
                        ng-if="vm.type === 'mobile'"
                        ng-disabled="!vm.user.mobile"
                        ng-click="vm.forgotPassword()"
                        class="btn btn-lg btn-login btn-block">
                    Submit
                </button>
                <a ui-sref="auth.login"
                   class="btn btn-lg btn-default btn-block">
                    Back to Login Page
                </a>
            </form>
        </div>
        <div class="clearfix">
        </div>
    </div>

</div>
